.header {
  height: 80px;
  background-color: var(--black);
  z-index: 99999;
  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__logo {
    @media (max-width: 700px) {
      height: 30px;
      width: auto;
    }
  }
  .menu {
    flex-grow: 1;
    @media (max-width: 1100px) {
      flex-grow: 0;
      order: 2;
    }
    &--open {
      .menu__desktop {
        display: block;
        background-color: var(--black);
        padding-top: 60px;
        padding-bottom: 243px;
      }
      .menu__desktop-element {
        padding: 20px 0;
        text-align: center;
        height: auto;
        border-bottom: 1px solid var(--white-opacity-10);
        border-left: none;
        border-right: none;
        border-top: none;
        border-radius: 0;
        margin: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        font-size: 30px;
        line-height: 120%;
        @media (max-width: 900px) {
          margin: 0 32px;
        }
        @media (max-width: 500px) {
          margin: 0 16px;
        }
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          border: none;
        }
        .big-arrow {
          display: flex;
        }
      }
      .menu__burger-dot {
        &--first {
          animation: 500ms linear 0s forwards alternate burger-dot-one;
        }
        &--second {
          animation: 500ms linear 0s forwards alternate burger-dot-two;
        }
      }
      .menu__burger-line {
        transition: 0.3s ease-out;
        &--first {
          right: -100%;
        }
        &--second {
          transform: rotate(45deg);
        }
        &--third {
          transform: rotate(-45deg);
          left: 15px;
          bottom: 21px;
          width: 18px;
        }
      }
    }
    &__burger {
      z-index: 100;
      width: 48px;
      height: 48px;
      cursor: pointer;
      position: relative;
      transition: 0.3s;
      overflow: hidden;
      display: none;
      border: 1px solid var(--white-opacity-30);
      border-radius: 50%;
      @media (max-width: 1100px) {
        display: block;
      }
      &-line,
      &-dot {
        position: absolute;
        height: 4px;
      }
      &-dot {
        background: #ffffff;
        border-radius: 50%;
        width: 4px;

        &--first {
          left: 15px;
          top: 15px;
        }
        &--second {
          bottom: 15px;
          right: 15px;
        }
      }
      &-line {
        background: #ffffff;
        border-radius: 14px;
        &--first {
          width: 10px;
          right: 15px;
          top: 15px;
        }
        &--second {
          left: 15px;
          width: 18px;
          top: 21px;
        }
        &--third {
          left: 15px;
          bottom: 15px;
          width: 10px;
        }
      }
    }
    &__desktop {
      animation: 250ms linear 0s forwards alternate menu;
      display: flex;
      justify-content: flex-end;
      @media (max-width: 1100px) {
        position: fixed;
        display: none;
        top: 80px;
        margin: 0;
        right: 0;
        left: 0;
        // margin-top: 67px;
        // background-color: #ffffff;
        z-index: 1000;
        overflow: auto;
        height: calc(100% + 140px);
      }
      &-element {
        height: 40px;
        border: 1px solid var(--white-opacity-15);
        border-radius: 100px;
        line-height: 35px;
        padding: 0 15px;
        display: block;
        overflow: hidden;
        margin-left: 7px;
        &:hover {
          background-color: #fff;
          .menu__desktop-element-text {
            animation: 500ms ease-out 0s forwards alternate switch-element-menu;
          }
          @media (max-width: 1100px) {
            background-color: transparent;
            .menu__desktop-element-text {
              animation: none;
            }
          }
        }
        &-text {
          display: block;
          transition: 0.3s ease-out;
        }
        .big-arrow {
          display: none;
        }
      }
    }
  }
  &__all {
    margin-left: 7px;
    background: #ffffff;
    border-radius: 24px;
    padding: 0 15px;
    color: var(--black);

    height: 40px;
    line-height: 36px;
    @media (max-width: 1100px) {
      margin-left: auto;
      margin-right: 15px;
      height: 48px;
      line-height: 45px;
      font-size: 16px;
    }
    @media (max-width: 700px) {
      height: 36px;
      line-height: 36px;
      font-size: 14px;
      margin-right: 7px;
    }
    @media (max-width: 350px) {
      padding: 0 5px;
      font-size: 12px;
    }
    &:hover {
      border-radius: 15px;
    }
  }
}
