.page-landing {
  padding-top: 0;
  .wrapper-fullscreen {
    @media (max-width: 700px) {
      display: block;
      min-height: 0;
    }
  }
  .head {
    // overflow: hidden;
    display: flex;
    min-height: 100vh;
    @media (max-width: 700px) {
      display: block;
      min-height: 0;
      overflow: hidden;
    }
    .container {
      position: relative;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-top: 100px;
      padding-bottom: 100px;
      @media (max-width: 700px) {
        display: block;
        padding-top: 348px;
        padding-bottom: 0;
      }
    }
    &__bg {
      top: -40px;
      left: -360px;
      position: absolute;
      z-index: 0;
      @media (max-width: 1100px) {
        width: 534px;
        height: 534px;
        left: -254px;
        // top: -26px;
      }
      @media (max-width: 700px) {
        top: -26px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    &__title {
      position: relative;
      z-index: 2;
      font-weight: 500;
      font-size: 100px;
      line-height: 120%;
      padding-left: 245px;
      @media (max-width: 1100px) {
        font-size: 70px;
        padding-left: 129px;
      }
      @media (max-width: 700px) {
        font-size: 40px;
        padding-left: 0;
      }
    }
    &__text {
      line-height: 150%;
      max-width: 504px;
      margin-left: auto;
      margin-top: 38px;
      position: relative;
      z-index: 2;
      @media (max-width: 1100px) {
        max-width: 409px;
        margin-top: 18px;
        font-size: 16px;
      }
      @media (max-width: 700px) {
        font-size: 14px;
        max-width: none;
        margin-top: 15px;
      }
    }
  }
  .why {
    margin-top: 62px;
    overflow: hidden;
    padding-bottom: 60px;
    @media (max-width: 1100px) {
      margin-top: 10px;
      padding-bottom: 50px;
    }
    @media (max-width: 700px) {
      padding-top: 80px;
      margin-top: 0;
      padding-bottom: 0;
    }
    .container {
      @media (max-width: 700px) {
        position: relative;
      }
    }
    .title {
      z-index: 1;
      position: relative;
    }
    &__paragraphs {
      position: relative;
      margin-top: 86px;

      @media (max-width: 1100px) {
        margin-top: 30px;
      }
      @media (max-width: 700px) {
        position: static;
      }
      &-icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 0;
        @media (max-width: 1100px) {
          right: -100px;
        }
        @media (max-width: 700px) {
          height: 113px;
          right: auto;
          left: 124px;
          transform: none;
          top: -12px;
          width: auto;
        }
      }
    }
    &__paragraph {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      font-size: 22px;
      line-height: 150%;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      @media (max-width: 1100px) {
        font-size: 16px;
        align-items: flex-start;
        max-width: 510px;
      }
      @media (max-width: 700px) {
        font-size: 14px;
      }
      &-icon {
        margin-right: 24px;
        @media (max-width: 1100px) {
          margin-right: 16px;
          flex: 0 0 22px;
          width: 22px;
          min-width: 22px;
          margin-top: 5px;
        }
      }
    }
  }
  .work {
    overflow: hidden;
    padding-bottom: 60px;
    @media (max-width: 1100px) {
      padding-bottom: 0;
    }
    .container {
      @media (max-width: 1200px) {
        padding: 0;
      }
    }
    .title {
      @media (max-width: 1200px) {
        padding: 0 10px;
      }
      @media (max-width: 900px) {
        padding: 0 32px;
      }
      @media (max-width: 500px) {
        padding: 0 16px;
      }
    }
    &__slider {
      margin-top: 48px;
      display: flex;
      // padding-right: 100px;
      @media (max-width: 1200px) {
        display: block;
      }
      @media (max-width: 1100px) {
        margin-top: 25px;
      }
      @media (max-width: 900px) {
        margin-top: 10px;
      }
      @media (max-width: 700px) {
        margin-top: 18px;
      }
      &-navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 183px;
        flex: 0 0 183px;
        border-right: 1px solid var(--white-opacity-40);
        overflow: hidden;
        position: relative;
        z-index: 999;
        @media (max-width: 1200px) {
          flex-direction: row;
          width: 100%;
          align-items: center;
          margin-bottom: 17px;
          padding: 0 10px;
          border: none;
        }
        @media (max-width: 900px) {
          padding: 0 32px;
        }
        @media (max-width: 500px) {
          margin-bottom: 28px;
          padding: 0 16px;
        }
        &-slide {
          overflow: hidden;
          position: relative;
          font-size: 20px;
          line-height: 150%;
          @media (max-width: 1200px) {
            padding-right: 55px;
          }
          @media (max-width: 700px) {
            font-size: 16px;
            padding-right: 23px;
          }
          &-icon {
            path {
              stroke: #fff;
            }
          }
          &:last-child {
            @media (max-width: 500px) {
              padding-right: 0;
            }
          }

          &:hover {
            padding-left: 30px;
            @media (max-width: 1100px) {
              padding-left: 0;
            }
            .work__slider-navigation-slide-icon {
              left: 0px;
              transition: 0.3s ease-out 0.3s;

              @media (max-width: 1100px) {
                left: -20px;
                transition: none;
              }
            }
          }
          &--active {
            padding-left: 30px !important;
            @media (max-width: 1100px) {
              padding-left: 30px !important;
            }
            @media (max-width: 500px) {
              padding-left: 25px !important;
            }
            .work__slider-navigation-slide-icon {
              path {
                stroke: var(--aqua);
              }
              left: 0px !important;
              transition: 0.3s ease-out 0.3s !important;
            }
          }
          &-icon {
            position: absolute;
            left: -20px;
            top: 50%;
            transform: translate(0, -50%);
            transition: 0.3s ease-out;
            @media (max-width: 700px) {
              left: -25px;
            }
          }
        }
        &-arrows {
          display: flex;
          @media (max-width: 900px) {
            display: none;
          }
        }
      }
      .swiper-container {
        overflow: visible;
        margin-left: 70px;
        max-width: 927px;
        // margin-right: 100px;
        @media (max-width: 1200px) {
          overflow: hidden;
          // max-width: calc(100vw - 20px);
          max-width: 100vw;
          padding: 0 10px;
          width: 100%;
          margin-left: 0;
        }
        @media (max-width: 900px) {
          padding: 0 32px;
        }
        @media (max-width: 500px) {
          padding: 0 16px;
        }
      }
      .swiper-pagination {
        display: none;
        position: relative;
        margin-top: 30px;
        @media (max-width: 1200px) {
          display: flex;
        }
        @media (max-width: 500px) {
          margin-top: 20px;
        }
      }
      .swiper-wrapper {
      }
      .swiper-button-prev,
      .swiper-button-next {
        border: 1px solid var(--white-opacity-15);
        border-radius: 50%;
        width: 60px;
        height: 60px;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        transform: none;
        path {
          transition: 0.3s ease-out;
        }
        &:hover {
          background-color: var(--aqua);
          path {
            stroke: var(--black);
          }
        }
      }
      .swiper-button-prev {
        margin-right: 10px;
      }
      .swiper-slide {
        border-radius: 30px;
        padding: 35px 35px 64px 35px;
        box-shadow: -9px -7px 20px var(--white-opacity-15);
        background: var(--black);
        transition: 0.3s ease-out;
        align-self: flex-start;
        height: auto;
        // flex: 0 0 auto;
        max-width: 927px;
        min-height: 520px;
        pointer-events: none;
        @media (max-width: 1200px) {
          max-width: none;
          box-shadow: none;
        }
        @media (max-width: 900px) {
          min-height: 412px;
        }
        @media (max-width: 500px) {
          padding: 30px 30px 40px;
          min-height: 490px;
        }
        &--first {
          .swiper-slide__block {
            padding: 0 90px;
            @media (max-width: 1200px) {
              padding: 0;
            }
          }
        }
        &--middle {
          @media (max-width: 500px) {
            .swiper-slide__block {
              display: flex;
            }
          }
        }
        &--last {
          max-width: 975px;
          width: 100%;
          flex: 0 0 975px;
          @media (max-width: 1200px) {
            flex: 0 0 100%;
          }
        }
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;

          transition: 0.3s ease-out;
          opacity: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          border-radius: 30px;
        }
        &:hover {
          &::after {
            opacity: 1;
          }
        }
        &[data-color="blue"] {
          &::after {
            background: radial-gradient(597.54% 281.63% at -11.25% 121.11%, #4ea6f8 0%, #5addc5 22.4%, #519df5 50%, #2a1a8f 95.92%);
          }
        }
        &[data-color="red"] {
          &::after {
            background: radial-gradient(432.88% 133.25% at -11.25% 121.11%, #e9f84e 0%, #f5bd51 31.98%, #dd6a5a 71.02%, #eb2b59 85.7%, #ce1515 100%);
          }
        }
        &[data-color="green"] {
          &::after {
            background: radial-gradient(177.47% 173.62% at 55.78% 42.05%, #99ffcd 3.12%, #3dd2a1 53.12%, #04565c 98.95%);
          }
          .swiper-slide__link {
            color: var(--black);
          }
        }
        &-prev {
          transform: scale(0);
          opacity: 0;
        }
        &-active {
          box-shadow: none;
          pointer-events: auto;
          background-color: var(--black-card-bg);
          .swiper-slide__head-icon {
            opacity: 1;
          }
          .swiper-slide__number,
          .swiper-slide__name,
          .swiper-slide__link {
            color: #fff;
          }
        }
        &__head {
          display: flex;
          margin-bottom: 50px;
          position: relative;
          z-index: 1;
          @media (max-width: 500px) {
            margin-bottom: 20px;
          }
        }
        &__head-icon {
          opacity: 0.5;
          @media (max-width: 900px) {
            width: 40px;
            min-width: 40px;
            height: 40px;
          }
        }
        &__number,
        &__name,
        &__link {
          color: rgba(109, 109, 110, 1);
        }
        &__number {
          font-size: 16px;
          line-height: 20px;
          margin: 0 10px 0 24px;
          @media (max-width: 900px) {
            font-size: 14px;
          }
        }
        &__name {
          font-weight: 500;
          font-size: 36px;
          text-transform: lowercase;
          line-height: 50px;
          @media (max-width: 900px) {
            font-size: 24px;
            line-height: 40px;
          }
        }
        &__block {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          // max-width: 580px;
          margin-left: auto;
          margin-bottom: -20px;
          position: relative;
          z-index: 1;
          @media (max-width: 500px) {
            margin-bottom: -10px;
            display: block;
          }
        }
        &__link {
          flex: 0 0 calc(50% - 10px);
          background-color: var(--white-opacity-25);
          font-size: 22px;
          line-height: 150%;
          min-height: 93px;
          padding: 15px 10px;
          margin-bottom: 20px;
          // backdrop-filter: blur(90px);
          border-radius: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          @media (max-width: 900px) {
            min-height: 64px;
            font-size: 16px;
          }
          @media (max-width: 700px) {
            font-size: 14px;
            padding: 15px 5px;
          }
          @media (max-width: 500px) {
            margin-bottom: 10px;
            padding: 20px;
            width: 100%;
          }
          &:hover {
            background: #fff;
            color: var(--black);
          }
          &--three {
            flex: 0 0 calc(33.33% - (20px / 3));
            margin-bottom: 10px;
            min-height: 57px;
            font-size: 18px;
            line-height: 150%;
            @media (max-width: 900px) {
              flex: 0 0 calc(50% - 5px);
            }
          }
          &--long {
            flex: 0 0 100%;
          }
          &--big {
            flex: 0 1 100%;
            height: auto;
            padding: 30px 40px;
            text-align: left;
            max-width: 517px;
            min-height: 195px;
            margin: auto;
            margin-top: 26px;
            @media (max-width: 500px) {
              margin-top: 40%;
            }
          }
        }
      }
    }
  }
  .formats {
    .container {
      @media (max-width: 1100px) {
        display: block;
      }
    }
    &__visual {
      flex: 0 0 380px;
      position: relative;
    }
    &__title {
      line-height: 150%;
      @media (max-width: 1100px) {
        margin-bottom: 30px;
      }
    }
    &__img {
      position: absolute;
      opacity: 0;
      max-width: 380px;
      height: auto;
      top: 75px;
      left: 0;
      transition: 0.3s ease-out;
      @media (max-width: 1100px) {
        display: none;
      }
      &--active {
        opacity: 1;
      }
    }
    &__list {
      flex: 0 1 680px;
      margin-left: 20px;
      @media (max-width: 1100px) {
        margin-left: 0;
        width: 100%;
      }
      &-element {
        padding-bottom: 40px;
        padding-top: 40px;
        border-bottom: 1px solid var(--white-opacity-10);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1100px) {
          padding-top: 30px;
          padding-bottom: 30px;
        }
        @media (max-width: 700px) {
          padding-top: 20px;
          padding-bottom: 20px;
        }
        &:last-child {
          padding-bottom: 0;
          border: none;
        }
        &:first-child {
          padding-top: 0;
        }
        &:hover {
          .big-arrow {
            background-color: var(--aqua);
          }
          .big-arrow__icon path {
            stroke: var(--black);
          }
        }
        &-text {
          font-weight: 500;
          font-size: 80px;
          line-height: 90px;
          @media (max-width: 1100px) {
            font-size: 50px;
            line-height: 120%;
          }
          @media (max-width: 700px) {
            font-size: 30px;
          }
        }
      }
    }
  }

  .reviews {
    &__slider {
      margin-top: 70px;
      padding-right: 60px;
      @media (max-width: 1100px) {
        margin-top: 30px;
        padding-right: 35px;
      }
      @media (max-width: 700px) {
        padding-right: 17px;
      }
      &::after,
      &::before {
        content: "";
        position: absolute;
        border-radius: 30px;
        top: 50%;
        transform: translate(0, -50%);
      }
      &::after {
        height: calc(100% - 120px);
        width: calc(100% - 120px);
        z-index: 0;
        background: #0f0f0f;

        // left: 0;
        right: 0;
      }
      &::before {
        height: calc(100% - 60px);
        width: calc(100% - 60px);
        background: #161617;
        right: 30px;
        z-index: 1;
        @media (max-width: 1100px) {
          right: 18px;
        }
        @media (max-width: 700px) {
          right: 8px;
        }
      }
      &--active {
        &::after,
        &::before {
          transition: 0.3s;
        }
        &::after {
          height: calc(100% - 60px);
          width: calc(100% - 60px);
          right: 30px;
          background: #161617;
          @media (max-width: 1100px) {
            right: 18px;
          }
          @media (max-width: 700px) {
            right: 8px;
          }
        }
        &::before {
          height: 100%;
          width: 100%;
          right: 60px;
          opacity: 0;
          @media (max-width: 1100px) {
            right: 35px;
          }
          @media (max-width: 700px) {
            right: 17px;
          }
        }
      }
      &--prev-last {
        &::before {
          height: 100%;
          width: 100%;
          right: 60px;
          opacity: 0;
          @media (max-width: 1100px) {
            right: 35px;
          }
          @media (max-width: 700px) {
            right: 17px;
          }
        }
        &::after {
          height: calc(100% - 60px);
          width: calc(100% - 60px);
          background: #161617;
          right: 30px;
          @media (max-width: 1100px) {
            right: 18px;
          }
          @media (max-width: 700px) {
            right: 8px;
          }
        }
      }
      &--last {
        &::before,
        &::after {
          height: 100%;
          width: 100%;
          right: 60px;
          opacity: 0;
          @media (max-width: 1100px) {
            right: 35px;
          }
          @media (max-width: 700px) {
            right: 17px;
          }
        }
      }
      .big-arrow {
        margin: 0;
      }
      .swiper-button-prev,
      .swiper-button-next {
        bottom: 80px;
        top: auto;
        transform: none;
        left: auto;
      }
      .swiper-button-prev {
        right: 190px;
        @media (max-width: 1100px) {
          right: 145px;
        }
        @media (max-width: 700px) {
          right: 110px;
        }
      }
      .swiper-button-next {
        right: 120px;
        @media (max-width: 1100px) {
          right: 75px;
        }
        @media (max-width: 700px) {
          right: 40px;
        }
      }
    }
    .swiper-wrapper {
      &--short {
        height: auto !important;
      }
    }
    .swiper-slide {
      background-color: var(--black-card-bg);
      border-radius: 30px;
      padding: 60px;
      @media (max-width: 1100px) {
        padding: 40px;
      }
      @media (max-width: 700px) {
        padding: 20px 20px 30px;
      }
      &-active {
        z-index: 3;
      }
      &__text {
        font-size: 28px;
        line-height: 45px;
        height: 360px;
        overflow: hidden;

        &--open {
          height: auto !important;
        }
        @media (max-width: 1100px) {
          font-size: 20px;
          line-height: 32px;
          height: 320px;
        }
        @media (max-width: 700px) {
          font-size: 16px;
          line-height: 22px;
          height: 352px;
        }
        &-more {
          line-height: 150%;
          opacity: 0.4;
          display: block;
          margin-top: 10px;
          @media (max-width: 700px) {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
      &__persone {
        display: flex;
        align-items: center;
        margin-top: 40px;
        padding-right: 150px;
        @media (max-width: 700px) {
          margin-top: 30px;
          display: block;
          padding-right: 124px;
        }
        &-img {
          flex: 0 0 100px;
          border-radius: 50%;
          width: 100px;
          min-width: 100px;
          height: 100px;
          margin-right: 40px;
          @media (max-width: 700px) {
            width: 70px;
            min-width: 70px;
            height: 70px;
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
        &-name,
        &-job {
          line-height: 150%;
          @media (max-width: 1100px) {
            font-size: 16px;
          }
          @media (max-width: 700px) {
            font-size: 14px;
          }
        }
        &-job {
          opacity: 0.4;
        }
      }
    }
  }
  .company {
    margin-top: 50px;
    overflow: hidden;
    @media (max-width: 1100px) {
      margin-top: 35px;
    }
    @media (max-width: 500px) {
      margin-top: 30px;
    }
    &__slider {
      overflow: visible;
      .big-arrow {
        margin: 0;
        background: var(--white-opacity-40);
        border: 1px solid #ffffff;
      }
      .swiper-button-disabled .big-arrow {
        background: transparent;
        border: 1px solid var(--white-opacity-15);
      }
      .swiper-button-prev {
        left: auto;
        right: calc(100% + 20px);
        @media (max-width: 1400px) {
          right: auto;
          left: 20px;
        }
      }
      .swiper-button-next {
        right: auto;
        left: calc(100% + 20px);
        @media (max-width: 1400px) {
          left: auto;
          right: 20px;
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        @media (max-width: 1100px) {
          display: none;
        }
      }
    }
    .swiper-pagination {
      display: none;
      margin-top: 35px;
      @media (max-width: 1100px) {
        display: flex;
      }
      @media (max-width: 700px) {
        margin-top: 20px;
      }
    }
    .swiper-slide {
      border-radius: 15px;
      flex: 0 0 280px;
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__img {
        max-width: 260px;
        max-height: 160px;
      }
      &--green {
        background: radial-gradient(75% 409.99% at 45.55% 18.18%, #32e38d 0%, #1e9faa 50%, #178aaa 84.38%, #2c8c84 98.96%);
      }
      &--yellow {
        background: radial-gradient(597.54% 281.63% at -11.25% 121.11%, #eaf84e 0%, #f5bd51 50%, #dd6a5a 71.02%, #eb2b59 95.92%);
      }
      &--blue {
        background: radial-gradient(597.54% 281.63% at -11.25% 121.11%, #4ea6f8 0%, #5addc5 22.4%, #519df5 50%, #2a1a8f 95.92%);
      }
      &--red {
        background: radial-gradient(245.46% 109.47% at 45.55% 18.18%, #f47ef0 0%, #f85891 50%, #fe9737 84.37%, #e13434 98.96%);
      }
    }
  }
  .question {
    .title {
      margin-bottom: 30px;
      @media (max-width: 1100px) {
        margin-bottom: 40px;
      }
      @media (max-width: 700px) {
        margin-bottom: 20px;
      }
    }
    &__element {
      margin-bottom: 20px;
      background-color: var(--black-card-bg);
      border-radius: 30px;
      padding: 40px;
      cursor: pointer;
      @media (max-width: 1100px) {
        padding: 20px 40px;
      }
      @media (max-width: 700px) {
        padding: 20px;
      }
      &:hover {
        .big-arrow__icon {
          animation: swing 0.6s ease;
          animation-iteration-count: 1;
        }
      }
      &--open {
        .big-arrow {
          transform: rotate(180deg);
          &__icon {
            path {
              stroke: var(--aqua);
            }
          }
        }
        &:hover {
          .big-arrow__icon {
            animation: none;
          }
        }
      }
      &-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        margin-right: 20px;
        @media (max-width: 1100px) {
          font-size: 24px;
          line-height: 28px;
        }
      }
      &-answer {
        font-size: 28px;
        line-height: 45px;
        padding-top: 50px;
        display: none;
        @media (max-width: 1100px) {
          font-size: 20px;
          line-height: 32px;
        }
        @media (max-width: 700px) {
          font-size: 16px;
          line-height: 22px;
          padding-top: 30px;
        }
      }
    }
  }
}
